#header {
  font-family: 'Montserrat', sans-serif;
}

#title {
  font-weight: 600;
  font-style:normal;
  font-size: 30px;
  color: white;
  margin-top: 10%;
}

#icon {
   height: 40px;
   width: 40px;
   margin-top: 10%;
   position: center;
}

.img-round {
  border-radius: 50%;
  border: 3px solid white;
  width: 100px;
  height: 100px;
  height: 150px;
  width: 150px;
}

.rule {
    margin-left: 0;
    text-align: left;
    width: 90%;
    border: 1px solid black;
    margin-bottom: 15px
 }

.nav-home,.input-group-btn {
  display: flex;
}

.navbar {
  background: black;
  margin-bottom: 20px;
}

.nav-link {
  color: white
}

.artist-search {
  border-top: 5px solid white;
}

#footer {
  position: fixed; 
  padding: 10px 10px 0px 10px; 
  bottom: 0; 
  width: 100%; 
  height: 40px; 
  background: black;
  color: white
}

#footer p {
  text-align: right;
}

.fix-footer {
  height: 40px;
}