<table class="table table table-dark table-stripe search_table">

  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Artists</th>
    </tr>
  </thead>

  {% for item in results %}
  <tr>
    <td>
      {% if item.images %}
        <img src="{{item.images[0].url}}" alt="{{item.name}}" class="img-round">
      {% else %}
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/archive/a/ac/20121003093557%21No_image_available.svg/120px-No_image_available.svg.png" class="img-round">
      {% endif %}
    </td>

    <td>
      <a href="{{ item.external_urls.spotify }}"> {{ item.name }} </a>
    </td>

    <td>
      {% for artist in item.artists %}
        <a> {{ artist.name }} </a>
      {% endfor %}
    </td>
  </tr>
  {% endfor %}

</table>
