<!doctype html>
<html>

  <head>

    <title>Spotify Flask</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Google fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  </head>

  <body>

    <div id="header">

      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand nav-home" href='{{ url_for("index") }}'>
            <img src="{{url_for('static', filename='img/spotify.png')}}" id="icon"> 
            <p id="title" href="#" style="margin-left: 10px">SpotiFlask</p>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('search') }}">Search a Spot</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    </div>

    <div id="content">
      {% block content %}{% endblock %}
    </div>

  </body>

</html>
