{% extends "layout.html" %}

{% block content %}

<table class="table search_table">

  <thead>
    <tr>
      <th>Image</th>
      <th>Artist</th>
      <th>Name</th>
      <th>Release Type</th>
    </tr>
  </thead>

  {% for item in items %}
  <tr>
    <td>
      {% if item.images[0] %}
        <a href="{{ item.external_urls.spotify }}">
          <img src="{{item.images[0].url}}" alt="{{item.name}}" class="img-round">
        </a>
      {% else %}
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/archive/a/ac/20121003093557%21No_image_available.svg/120px-No_image_available.svg.png" class="img-round">
      {% endif %}
    </td>

    <td>
      {% for artist in item.artists %}
        <a href="{{ url_for('artist_page', artist_id=artist.id) }}"> {{artist.name}}</a>
      {% endfor %}
    </td>

    <td>
      <a href="{{ item.external_urls.spotify }}"> {{ item.name }} </a>
    </td>

    <td>
      <a> {{ item.album_type}} </a>
    </td>

  </tr>
  {% endfor %}

</table>

{% endblock %}
