{% extends "layout.html" %}

{% block content %}

<section>
  <div class="container">

    <div class="container">

      <div class='row'>
        <h1>Search A Spot</h1>
        <p>
          Use the search box to find request album/track/artist and click the search button.
        </p>
        <div class="rule"></div>
      </div>

      <div class='row'>
        <form action="{{ url_for('search') }}" method='GET'>
          <div class="row">
                <div class='col-sm-6'>
                  <div class="col-lg-10" style='padding-left: 0px;'>
                    <div class="input-group">
                      <span class="input-group-btn">
                        <input type="text" class="form-control" name='user_query' placeholder="What to look for?">
                        <button class="btn btn-dark" type="submit">Search</button>
                      </span>
                    </div>
                  </div>
                </div>

                <div class='col-sm-4' style='margin-top: 3px;'>
                  <label>Choose search type:</label>
                  <select class='form-group' name='search_type'>
                    <option value='artist'>Artist</option>
                    <option value='album'>Album</option>
                    <option value='track'>Track</option>
                  </select>
                </div>

          </div>
        </form>
        <div class="container" style='margin-top: 5px;'>

          {% if search_type == "artist" %}
            {% include 'artist.html' %}
          
          {% elif search_type == "album" %}
            {% include 'album.html' %}
      
          {% elif search_type == "track" %}
            {% include 'track.html' %}
      
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
